* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
:root {
  --main-col: hsla(230, 100%, 50%, .3);
  --sec-col: hsla(33, 100%, 50%, .2);
}

body {
  background: #333;
  background-image: linear-gradient(45deg, var(--sec-col), var(--main-col)), url('assets/bg.jpg');
  color: white;
  /* font-family: helvetica; */
  font-family: 'Cinzel', serif;
  display: grid;
  place-items: center;

}
.main, .volume-box, .channels {
  display: flex;
  flex-direction: column;
}

.main {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  max-width: 600px;

}

.volume-box {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
#volume {
  width: 100%;
}
.volume-box img {
  width: 4rem;
  height: 4rem;
  color: white;
  margin: 1rem;
}

.btn, .btn-presets {
  border: 2px solid rgba(255,255,255, 0.5);
  border-radius: 1rem;
  background: rgba(255,255,255, 0.1);
  font-family: inherit;
  transition: all 200ms ease;
  cursor: pointer;
}

.btn {
  width: 70%;
  margin-top: 2rem;
  padding: .4em;
  color: white;
  font-size: 1.5rem;
  backdrop-filter: blur(2px);

}
.btn:hover {
  color: orange;
  border: 2px solid orange;
  letter-spacing: .2rem;
}
.presets {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: .4rem;
}
.freq-pres {
  text-align: center;
  grid-area: 1/1/1/-1;
}
.btn-presets {
  background: none;
  color: orange;
  padding: .2rem;
  font-size: 1rem;
}
.btn-presets:hover {
  background:rgba(255,255,255, 0.2)
}
.cog, .settings-close {
  background: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  width: 35px;
  height: 35px;
}
.cog {
  margin-top: 1.5rem;
  background-image: url('assets/settings.svg');
  opacity: .5;

  
}

.settings {
  display: none;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background:rgba(25,25,155, 0.5);
  background-image: linear-gradient(var(--sec-col), var(--main-col)), url('assets/bg3.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  backdrop-filter: blur(5px);
}
.settings-close {
  background-image: url('assets/x.svg');
}
.visible {
  display: flex;
}


.channels {
  padding: 1rem;
  width: 100%;
  background: rgba(255,255,255, 0.05);
  border-radius: 1rem;
  backdrop-filter: blur(2px);
  margin-top: 2rem;
}
label {
  text-align: center;
  margin: .4rem;
  font-size: 1.4rem;
  /* background: rgba(255,255,255, 0.1); */
  padding: .5rem;

}
small {
  font-size: .7rem;
}
input[type=range] {
  /* display: none; */
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
}
input[type=range]::-webkit-slider-runnable-track{
  background-image: linear-gradient(45deg, hsla(33, 100%, 50%, .4), hsla(230, 100%, 50%, .4));
  height: .7rem;
  cursor: pointer;
  border: 1px solid rgba(255,255,255, 0.5);
  border-radius: .2rem;
  
  
}
input[type=range]::-webkit-slider-thumb{
  appearance: none;
  width: 1rem;
  height: 1rem;
  background: white;
  border-radius: .2rem;
  cursor: pointer;
  transform: translateY(-25%)
}
input[type=range]::-webkit-slider-thumb:hover{
  background: orange;
}

@media screen and (min-width: 1000px) {
  .main h1 {
    font-size: 4rem;
  }
}